{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static '/landing/css/price.css' %}">

    <div class="tab">
        <div class="tab-text">
             Контакты
        </div>
    </div>

    <main>
        <p>По вопросам размещения рекламы и сотрудничества Вы всегда можете обращаться сюда: <a href="https://t.me/botsupportg">https://t.me/botsupportg.</a>
        <br>При возникновении любых вопросов связанных с работой телеграм-бота и канала <a href="https://t.me/anketa_publish_bot">https://t.me/anketa_publish_bot</a> и <a href="https://t.me/+AoCahiRefXA2MmUy">https://t.me/+AoCahiRefXA2MmUy</a> просим вас писать по адресу: <a href="https://t.me/botsupportg">https://t.me/botsupportg</a>.</p>

        <p>Контакты технической поддержки:
        <br>Telegram - <a href="https://t.me/botsupportg">https://t.me/botsupportg</a></p>

        <p>Режим работы поддержки:
        <br>С понедельника по пятницу, c 10:00 до 22:00
        <br>Вы всегда можете отменить платную подписку самостоятельно, прописав команду /cancelvip в боте <a href="https://t.me/anketa_publish_bot">@anketa_publish_bot</a>.
    </main>
{% endblock %}